<html>
<body>
  {% include 'header.html' %}
  {% include 'navbar.html' %}
  <!-- <h1 style="text-align: center;">My Data Journalism Project</h1> -->
  <h2 class = "margins" style="text-align: center;">How do New Yorkers Commute to Work?</h2>
<ul class="margins">
  <li>In this project, I explore the various ways that New Yorkers commute to New York. My goal is to discover which modes of transportation
    are commonly used in different boroughs and propose some explanation for the trends the data reflect. Possible explanations may include
    the available infrastructure, the topography, or the the socio-economic status of people in the region. 
    I also consider the environmental impact of trends that are apparent in the data. 
    My dataset records the number of people in each of the 5 boroughs of NYC who commute to work using public transportation,
    motor vehicles, bicycles, or by walking. My dataset comes from nyc.gov database of Environment and Health Data.  </li>
  <li>Some important vocabulary terms in this infographic include: 
    <ul>
      <li>Modes of transportation: a method of traveling from one place to the next</li>
      <li>Public transportation: the subway, public buses, ferries, etc. </li>
      <li>Motor Vehicles: examples include cars, trucks, vans </li>
    </ul>
  </li>
</ul>  

<h2 style="text-align: center;">Data Cleansing</h2>

<ol class="margins">
  <li>Delete all rows that do not contain data for 2017-2021 (all rows past row 305)</li>
  <li>Within the 2017-2021 data, only keep data whose geotag is either UHF42 or borough or citywide</li>
  <li>Delete the GeoID and GeoRank columns</li>
  <li>Change column titles so as to remove spaces, parenthesis, commas</li>
  <li>Use google sheets “custom number formats” to remove commas in numbers with more than three digits.  It is only necessary to apply this command to the “number” columns, and not the “percent” columns(removing these special characters can simplify converting the csv file to the json file)  </li>
  <li>After manually cleaning the data using google sheets, download the data as a csv file and 
    then reformat the data into a json file using a python data pipeline</li>
  <li>Please visit this link to see the code for my data pipeline:</li>
  <p><a href="https://github.com/eleifer24/data_journalism/blob/1a5b6dead8680a4753eaed705f3aa0d1b3ba0f83/data/format_data.py">
    Visit my format_data.py!</a></p>
</ol> 

<p style="text-align: center;"> <strong> Prototypes:</strong></p>
<div class="image-row">
  <img src="{{url_for('static',filename= 'macro.png')}}" alt="macro prototype"> 
  <img src="{{url_for('static',filename= 'micro.png')}}" alt="micro prototype">
</div>

<p>
  <ul class="margins">
    <li> In my prototype for my macro page, I decided to use a map-based infographic because I think having a pictorial 
      representation of geographic data is a simple, intuitive way of organizing my data that makes sense to
       viewers. Also, a map-based infographic is particularly helpful for my project because my dataset is 
       about how people travel to work every day and seeing a map immediately puts viewers
       in the correct headspace to wonder if some of the trends they see exist due to certain geographic challenges that are specific to different regions.   On my map, 
       each borough is shaded a different hue of green (as set out in my legend)
       corresponding to the percent of people who use cars, trucks, and vans to commute to work in that region.  </li>
    <li> In my prototype for my micro page, I used a bar chart to compare the percent of people 
      who use different forms of transportation with those who use cars, trucks, and vans and included 
      some qualitative analysis below the graph to summarize the trends for a specific borough.  
      Although, I am using percentages as my metric, I decided to use a bar chart rather than a pie chart 
      because the percentages in my data to do not add up to 100% and I also think 
      using a bar chart makes differences between amounts that are close to each other easier to identify. </li>
    <li> The main points of feedback two classmates offered after looking at my prototypes 
      were that I could provide more a detailed analysis of the trends in each borough beneath the 
      graph on my micro page and also that I might consider using a pie chart instead of a bar graph.  
      Moving forward, I think I will include a more specific analysis on my micro page, but I think I will 
      stick with a bar graph primarily because the percentages for each borough do not sum to 
      100 unfortunately, and I am not sure what the missing percent indicates. </li>
  </ul>
</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
crossorigin="anonymous"></script>

{% include 'footer.html' %}

</body>