<hr>
<footer>
    <div class="margins">
        <strong > Data Journalism Project: How do New Yorkers commute to work?</strong>
        <p>To see my original data set, please click on this link:<a href="https://a816-dohbesp.nyc.gov/IndicatorPublic/data-explorer/walking-driving-and-cycling/?id=2415#display=summary">
            NYC.gov_commuting_data_portal</a></p>
        <p>In this project, I present the differing percent of people by borough who 
            commute to work via public or private transporation, bicycling, or walking.  
            I found that the greatest percentage of people use public transportation in [borough], 
        while [borough] holds the greatest percentage of people who use cars, vans, or trucks.  
        These discrepancies suggest that local governments should do more to make public transportation accessible in [type of borough] since there are environmental 
        benefits to reducing the number of motor vehicles on the road.   </p>
    </div>
</footer>
