<hr>
<footer>
    <div class="margins">
        <strong > Data Journalism Project: How do New Yorkers commute to work?</strong>
        <p>To see my original data set, please click here:<a href="https://a816-dohbesp.nyc.gov/IndicatorPublic/data-explorer/walking-driving-and-cycling/?id=2415#display=summary">
            NYC.gov_commuting_data_portal</a></p>
        <p>In this investigation, I found that from 2017 to 2021, walking (other than in Manhattan) and bicycling were very
             uncommon methods of commuting to work — with percentages being in the single digits
              across the boroughs. Also, I found that (excepting Staten Island), public
               transportation was the most widely used form of transportation for commuting to work and the use cars,
                vans, or trucks was less common.    </p>
        <p>To access my github repository, please click here:<a href="https://github.com/eleifer24/Data_journalism.git">
                    github_repository</a></p>
    </div>
</footer>
