
{% include 'header.html' %}
{% include 'navbar.html' %}

<body>
    <h2 class="map_title_margins" style="text-align: center; font-size:25px">
        Percent of New Yorkers by Borough Who Use Cars, Vans, or Trucks to Commute to Work (2017-2021)</h2>
    

    <div class="container" style="border: none;">
         {% include 'NYC_boroughs.svg' %}   
    </div>

    <div class="macro_text">
        <p>
            <text font-size="50px" >{{text_based_interpretation[0]}} </text>
        </p>
        <p></p>
        <p>
            <text font-size="50px" >Overall, in this investigation, after analyzing the different
                forms of transportation people use in the different New York City boroughs and 
            their relative use in different regions, a few take aways became clear.  In this investigation,
            individual borough data showed a clear pattern of bicycling always being the least used form of transportation. 
            In all the boroughs, the percentage of people using bicycles was under 5% and was sometimes only a fraction of a percent. 
            In addition, another fact I noticed in this investigation is that in boroughs other than Manhattan, walking is very much 
            not a widespread method of commuting to work.  In fact, like bicycling, the percentage of people who walked to work in each borough 
            was often in the single digits. Finally, another notable take away from this investigation was that across all the boroughs except Staten Island,
            public transporatation was the most common method people used to commute to work -- with the percent of people using public transportation
            to be either near or well over 50%.  And all in all, interestingly, despite there always seeming to be an endless
            supply of cars on the streets of some boroughs, particularly Manhattan, using motor vehicles such as cars, trucks, and vans is
            not the way the most people commute to work. In boroughs other than in Staten Island, which has the greatest percentage (63%)
            of people using cars, vans, or trucks, the percentage of people using these motor vehicles was always 
            below 40%. 
            </text>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>
    {% include 'footer.html' %}
</body>


